<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React learning</title>
	<link rel="stylesheet" type="text/css" href="/components/jasmine-core/lib/jasmine-core/jasmine.css">
<!--
    <script src="/components/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="/components/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script src="/components/jasmine-core/lib/jasmine-core/boot.js"></script>	
-->
	<script src="/components/react/react.min.js"></script>	
    <script src="/components/react/react-dom.min.js"></script>	
	<script src="/browser.min.js"></script>	
 
</head>
<body>


   <div id="todo" style="width: 780px; margin-left: auto; margin-right: auto;"></div>
   <script type="text/babel">
      ReactDOM.render(
        <h1>Hello, world!</h1>,
        document.getElementById('todo')
      );
    </script>
   
</body>
</html>