<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React learning</title>
	<link rel="stylesheet" type="text/css" href="/components/jasmine-core/lib/jasmine-core/jasmine.css">
<!--
    <script src="/components/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="/components/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script src="/components/jasmine-core/lib/jasmine-core/boot.js"></script>	
-->
</head>
<body>


   <div id="todo" style="width: 780px; margin-left: auto; margin-right: auto;"></div>
    <script src="/ractMain.js"></script>
</body>
</html>