<!DOCTYPE html>
<html lang="en">
 <head>
  <title>myapp</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" /> 
  <link href="/components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" /> 

 
   <style>

body {
  font-family: 'myriad pro', sans-serif;
  font-size: 20px;
  border: 0;
}

todo {
  display: block;
  max-width: 400px;
  margin: 5% auto;
}

form input {
  font-size: 85%;
  padding: .4em;
  border: 1px solid #ccc;
  border-radius: 2px;
}

button {
  background-color: #1FADC5;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 75%;
  color: #fff;
  padding: .4em 1.2em;
  border-radius: 2em;
  cursor: pointer;
  margin: 0 .23em;
  outline: none;
}

button[disabled] {
  background-color: #ddd;
  color: #aaa;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: .2em 0;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

label {
  cursor: pointer;
}

  </style>
 </head>
 <body>
 
 <todo>
    <p id="my-content-{ id }">My beautiful post is just awesome</p>
 </todo>


<script type="riot/tag">
<todo>
  <yield/>
  <h3>{ opts.title }#{ items.length  }</h3>
  <label>{text}</label>
  <ul>
    <li each={ items }>
      <label class={ completed: done }>
        <input type="checkbox" checked={ done } onclick={ parent.toggle }> { title }
      </label>
    </li>
  </ul>
  <form onsubmit={ add }>
    <input ref="input" onkeyup={ edit }>	
    <button disabled={ !text }>Add #{ items.length + 1 }</button>
  </form>

    this.items = opts.items
    edit(e) {
      this.text = e.target.value
    }
    add(e) {
      e.preventDefault()
      if (this.text) {
        this.items.push({ title: this.text,done:false })
        this.text = this.refs.input.value = ''
      }
    }

    toggle(e) {
      var item = e.item
      item.done = !item.done
    }
</todo>
</script>

<!-- <inner-tag/> is specified on external file -->

<script type="text/javascript" src="/components/riot/riot.min.js"></script>
<!-- include riot.js and the compiler -->
<script  src="/components/riot/riot+compiler.min.js"></script>


<!-- mount normally -->
<script>


riot.mount('todo',{items:[{ title: 1111,done:false},
{ title: 2222,done:false},
{ title: 3333,done:false}
],title:'riotDemo'})


</script>

 
<script language="javascript">
/*
 riot.mount('todo', {
      title: 'I want to behave!',
      items: [
        { title: 'Avoid excessive coffeine', done: true },
        { title: 'Hidden item', hidden: true },
        { title: 'Be less provocative' },
        { title: 'Be nice to people' }
      ]
    })
*/
</script>



 </body>
 </html>